body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.7em;
}
a{ color: #4040ff; }
a:hover{ color: #9090ff; }
b{
	font-weight: bold;
}

/*********************/
/******* INTRO *******/
/*********************/
#intro{
	position: relative;
	width: 100%;
	height: 250px;
	background: #222;
	overflow: hidden;
}
#intro iframe{
	position: absolute;
	width: 100%;
    height: 250px;
    border: none;
    margin: 0;
    overflow: hidden;
}
#intro_title{
	position: absolute;
	color: #fff;
	width: 800px;
	height: 130px;
	text-align: center;

	margin:auto;
	top:0; left:0; right:0; bottom:0;

	pointer-events:none;
	cursor: default;
}
#intro_title > div:nth-child(1){
	font-size: 30px;
    line-height: 1em;
    letter-spacing: 5px;
}
#intro_title > div:nth-child(2){
	font-size: 59px;
    line-height: 1.2em;
    font-weight: bold;
}
#intro_title > div:nth-child(3){
	position:relative;
	top:-5px;
}

/*********************/
/****** ARTICLE ******/
/*********************/
#article{
	width: 600px;
	margin: 50px auto;
}
iframe{
	display: block;
	border: 2px solid #444;
	margin: 25px auto;
	overflow: hidden;
}
.icon{
	height:1em;
	width:auto;
	position: relative;
	top: 0.15em;
}
.caption{
	font-weight: bold;
	text-align: center;
	margin-bottom: -0.55em;
    font-size: 1.2em;
}
.gallery{
	overflow:hidden;
	font-size: 0.9em;
	line-height: 1.1em;
	color: #888;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
.gallery > div{
	float: left;
	margin: 10px;
	width: 280px;
	display: inline-block;
}
.gallery > div > img{
	width: 100%;
	margin-bottom: 0.5em;
}

/*********************/
/****** CREDITS ******/
/*********************/
#credits{
	width: 100%;
	background: #222;
	padding: 75px 0;
}
#credits_content{
	width:640px;
	margin:0 auto;
	color:#fff;
	text-align: center;
	line-height: 1.3em;
}
#credits a{ color: #ff4040; }
#credits a:hover{ color: #ff9090; }
.credits_names{
	color:#999;
	font-size: 18px;
	line-height: 1.3em;
}
#patreon_supporters{
	
	color:#999;
	
	margin: 1.5em auto;
    overflow: hidden;

    font-size: 12px;
    line-height: 15px;
    text-align: center;
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;

}

/***********************/
/** RESPONSIVE OR W/E **/
/***********************/

@media (max-width: 650px){
	#article{
		font-size: 30px;
	    line-height: 1.7em;
	}
}
@media (max-width: 800px){
	#intro_title{
		width: 640px;
		height: 170px;
	}
	#intro_title > div:nth-child(1){
	    letter-spacing: 1px;
	}
	#intro_title > div:nth-child(2){
	    line-height: 1em;
	    margin-top: 5px;
	    letter-spacing: 10px;
	}
}
